{%- extends 'lab/base.html.j2' -%}
{% from 'cellslidedata.j2' import cellslidedata %}

{%- block any_cell scoped -%}
{%- if cell.metadata.get('slide_start', False) -%}
<section {{ cellslidedata(cell) }}>
{%- endif -%}
{%- if cell.metadata.get('subslide_start', False) -%}
<section {{ cellslidedata(cell) }}>
{%- endif -%}
{%- if cell.metadata.get('fragment_start', False) -%}
<div class="fragment" {{ cellslidedata(cell) }}>
{%- endif -%}

{%- if cell.metadata.slide_type == 'notes' -%}
<aside class="notes">
{{ super() }}
</aside>
{%- elif cell.metadata.slide_type == 'skip' -%}
{%- else -%}
{{ super() }}
{%- endif -%}

{%- if cell.metadata.get('fragment_end', False) -%}
</div>
{%- endif -%}
{%- if cell.metadata.get('subslide_end', False) -%}
</section>
{%- endif -%}
{%- if cell.metadata.get('slide_end', False) -%}
</section>
{%- endif -%}
{%- endblock any_cell -%}

 {% block data_priority %}
    {# Check if the output is an attachment and if it actually exists #}
    {% if output.output_type == 'display_data' and 'filenames' in output.metadata %}
        {%- set filename = output.metadata.filenames.get('image/png') or output.metadata.filenames.get('image/jpeg') -%}
        {%- if filename and not path.exists(filename) -%}
            {# Do nothing, effectively skipping the missing file #}
        {%- else -%}
            {{ super() }}
        {%- endif -%}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock data_priority %}

{# Override the attachment filter specifically #}
{% macro get_attachment(res, filenames) %}
    {% set filename = filenames.get('image/png') or filenames.get('image/jpeg') %}
    {% if filename and path.exists(filename) %}
        {{ filename }}
    {% endif %}
{% endmacro %}
